[submodule "archived/stevenblack-hosts"]
	path = archived/stevenblack-hosts
	url = https://github.com/StevenBlack/hosts
[submodule "archived/vokins-yhosts"]
	path = archived/vokins-yhosts
	url = https://github.com/vokins/yhosts
[submodule "archived/highsea-hosts"]
	path = archived/highsea-hosts
	url = https://github.com/highsea/Hosts
[submodule "archived/txthinking-google-hosts"]
	path = archived/txthinking-google-hosts
	url = https://github.com/txthinking/google-hosts
[submodule "archived/superliaoyong-hosts"]
	path = archived/superliaoyong-hosts
	url = https://github.com/superliaoyong/hosts
[submodule "archived/babylon882004-hosts"]
	path = archived/babylon882004-hosts
	url = https://github.com/babylon882004/hosts
[submodule "archived/lennylxx-ipv6-hosts"]
	path = archived/lennylxx-ipv6-hosts
	url = https://github.com/lennylxx/ipv6-hosts
[submodule "archived/popcorner-cernet-ipv6-hosts"]
	path = archived/popcorner-cernet-ipv6-hosts
	url = https://github.com/popcorner/cernet-ipv6-hosts
